*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
.DS_Store
.cache
.project
.settings
.svn
config/core.php
config/database.php
config/editor.php
config/paypal.php
errors.err
nbproject
plugins/debug_kit
tags
tmp/*
uploads/*
webroot/css/*
webroot/js/*